<h1><a routerLink="/app" routerLinkActive="active" id="heading">Bogan of Meteorology</a></h1>
<h4>By deadset drongo, <a href="https://www.matthewquerzoli.com" target="_blank">Matt Querzoli</a></h4>
<h4 *ngIf="appPageShowing"><a routerLink="/about" routerLinkActive="active">Yeah oright then, explain yerself mate</a></h4>
<h4 *ngIf="!appPageShowing"><a routerLink="/app" routerLinkActive="active">Yeah oright, back to the app then now, aye</a></h4>

<!-- <app-root></app-root> -->
<router-outlet></router-outlet>
